<div class="ms-options-wrap" style="position: relative;">
    <button>C++, C#</button>
    <div class="ms-options" style="min-height: 200px; overflow: auto; display: block; max-height: 200px;">

        <div class="ms-search">
            <input type="text" value="" placeholder="Search">
        </div>

        <ul style="column-count: 1; column-gap: 0px;">
            <li class="selected" style="display: list-item;">
                <label for="ms-opt-13" style="padding-left: 21px;">
                    <input type="checkbox" value="C++" title="C++" id="ms-opt-13">C++
                </label>
            </li>
        </ul>
    </div>
</div>